<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'common', media: 'all' %>
    <%= stylesheet_link_tag 'app', media: 'all' %>
  </head>

  <body>
    <div>
      <%= render 'platform/header' %>
      <%= yield %>
      <%= render 'platform/footer' %>
    </div>
    <%= javascript_include_tag 'common' %>
    <%= javascript_include_tag 'app' %>
  </body>
</html>
